/* COLOR VARIABLES */
:root {
    --color-1: #a2bce0;
    --color-2: #0b5563;
    --color-3: #beb8eb;
    --color-4: #5e5c6c;
    --color-5: #f78154;
}
/* **************** */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/background.jpg);
    background-size: cover;
}

/* SECTION SEARCH HEADER*/
.search__logo-icon {
    width: 5rem;
}
.search__logo-text {
}
/* baker icon sticky top */

.search-input {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
    outline: 0;
    border-radius: 25px;
}

.search-input::placeholder {
    font-size: 1.1rem;
    color: var(--color-4);
    font-weight: 500;
}

.search-input-icon {
    background-color: #fff;
    border-color: #fff;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

/* **************** */
/* RECIPE SECTIONS */
.recipes-section {
}

.food {
    transition: all 0.5s;
    cursor: pointer;
    max-height: 10rem;
    min-height: 10rem;
}

.food:hover {
    transform: translateY(-5px);
}

.food-title {
    color: #fff;
    font-weight: 800;
    transform: translateY(-2.3rem);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.food-info {
    color: var(--color-1);
    transform: translateY(-3rem);
}
.food-img {
    max-height: 85px;
}

.recipe-publisher {
    font-size: 10px;
}

.recipe-main-body {
    background-color: rgba(0, 0, 0, 0.1);
}

/* INGREDIENTS SECTION */
.ing-title {
    transform: rotate(5deg) translateY(-1rem);
}
.ing-title span {
    background-image: linear-gradient(to right bottom, #ba8b02, #181818);
    color: #fff;
}
.recipe-like {
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to right bottom, #ba8b02, #181818);
    border-radius: 50%;
    transition: all 0.4s;
}
.recipe-like:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.recipe-like svg {
    color: #fff;
}
/* body */
.ingredients-body {
    margin-top: -2.6rem;
    font-size: 0.7rem;
}
.list-ing {
    padding: 2px;
    margin-bottom: 2rem;
    font-size: 0.7rem;
    font-weight: 600;
}
/* LOADTER */

.loader {
    width: 10rem;
    animation-name: loaderAnimation;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes loaderAnimation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
